<!-- app/views/articles/show.html.erb -->
<h1><%= @article.title %></h1>
<p><strong>Theme:</strong> <%= @article.theme.name %></p>
<p><strong>Author:</strong> <%= @article.user.username %></p>

<div class="article-body">
  <%= simple_format(@article.body) %>
</div>

<% if user_signed_in? && current_user == @article.user %>
  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-secondary' %>
  <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>

<h2 class="mt-4">Comments</h2>
<%= render @article.comments %>

<% if user_signed_in? %>
  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
<% else %>
  <p>Please <%= link_to 'log in', new_user_session_path %> to add a comment.</p>
<% end %>