<!-- app/views/themes/show.html.erb -->
<h1><%= @theme.name %></h1>

<h2>Articles in this theme:</h2>
<div class="row">
  <% @articles.each do |article| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
          <p class="card-text"><%= truncate(article.body, length: 100) %></p>
          <p class="card-text"><small class="text-muted">By <%= article.user.username %></small></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Back to Themes', themes_path, class: 'btn btn-secondary' %>