<h1>Edit User</h1>
<%= form_with(model: @user, local: true) do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :user_role%>
    <%= form.select :user_role, ['admin', 'moderator', 'user'], { include_blank: "Select a role" }, class: 'form-control' %>
  <%= form.submit %>
<% end %>